<div class="side-bar-header">
  <div class="header-name">
    <% if user_signed_in?%>
      <%= link_to current_user.nickname, mypage_designs_path, class:'chat-header-name'%>
    <% end %>
    <% if company_signed_in?%>
      <%= link_to current_company.company_name, "#", class:'chat-header-name'%>
    <% end %>
  </div>
  <div class="create-room">
    <%= link_to "Create a room", new_room_path, class:'create-room-btn'%>
  </div>
</div>

<div class="rooms">
  <% current_user.rooms.each do |room| %>
    <div class="room">
      <div class="room-name">
        <a href="#"><%= room.room_name %></a>
      </div>
    </div>
  <% end %>
</div>