.second-top-page-header {
  width: 100vw;
  background-color: #153254;
  display: flex;
}

.company-logo {
  width: 20vw;
  height: 20vh;
}

.co-list-elements {
  text-decoration: none;
  color: white;
}