.back-blue-btn {
  margin-top: 5px;
  display: block;
  text-align: center;
  width: 36vw;
  color: white;
  background-color: rgb(74, 144, 248);
  text-decoration: none;
}

#design-image-edit {
  display: none;
}
